body {
    width:750px;
    font-family : Arial, Verdana, sans-serif;
    color : #665544;
    /*border : 1px solid #000;*/
}

h1 {
    /*border : 1px solid #000;*/
    background-color: #efefef;
    padding: 10px;
 /* Absolute positioning       
    position : absolute;
    left : 450px;
    width: 250px; */
    /* Fixed positioning
    position: fixed;
    */
    
}

p {
/*    border : 1px solid #000;*/
    width : 450px;
}


blockquote{
    float:right;
    width : 275px;
    border-top : 1px solid #000;
    border-bottom : 1px solid #000;
    margin : 10px;
    padding : 10px;
}

/*
p.example {
    position: relative;
    top:10px;
    left: 250px;
} */